:root {
    --navWidth: 10px;
    --navHeight: 10px;
    --panelHeight: 10px;
    --stdFontSize: 12px;
    --lgFontSize: 16px;
    --lgFontsize2: 20px;
}

body {
    background-color: dimgray;
    font-family: 'Syncopate';
    font-size: var(--stdFontSize);
}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}

.navButton {
    font-size: 20px;
    font-family: 'Syncopate';
    flex: 1 1 min-content;
    background-color: rgba(255,255,255,0.2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}